body{
    background-color: #EEE2DC;
    margin: 10px;
    font-family: 'Cutive Mono', monospace;
    color: black;
}

.header{
    background-color: #EEE2DC; 
    color: #AC3B61;
    height: 90px;
}

.nav{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-top: 25px;
    font-size: 2rem;
    float: right;
    color: #AC3B61;
}

.logo a{
    color: #3AAFA9;
    text-decoration: none;
}

.links a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}


.links a:hover{
    color: #BAB2B5;
}

.links{
    margin-top: 40px; 
    font-size: 0.75rem;
    float: left;
}

.aboutme{
    width: 500px;
    height: auto;
    float: left;
}

.abouttitle{
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
}

.abouttext{
    color: #2B7A78;
    text-decoration: none;
    font-size: 1rem;
    
}

.contact{
    width: 500px;
    height: auto;
    float: left;
}

.contacttitle{
    color: #2B7A78;
    text-decoration: none;
    font-size: 2.5rem;
}

.contacttext{
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.endbanner a{
    color: #3AAFA9;
    text-decoration: none;
}

.endbanner{
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 100px;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    float:left;
    width:100px;
}

.content{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.footer{
    float: left;
    margin-left: 150px;
    margin-right: 800px;
}
