body{
    background-color: #DEF2F1;
    margin: 10px;
    font-family: 'Cutive Mono', monospace;
    color: black;
}

.header{
    background-color: #DEF2F1; 
    color: #AC3B61;
    height: 90px;
}

.nav{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.content{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.footer{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-top: 25px;
    font-size: 2rem;
    float: right;
    color: #3AAFA9;
}

.logo a{
    color: #3AAFA9;
    text-decoration: none;
}
.links a{
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.links a:hover{
    color: #2B7A78;
}

.links{
    margin-top: 40px; 
    font-size: 0.75rem;
    float: left;
    color: black;
    text-decoration: none;
}

.paragraph{
    width: 300px; 
    height: 250px;
    float: left;
    margin-left: 13.3px;
}

.text{
    float:left; 
}

.photo1{
    float: left; 
}

.photo{
    float: left; 
    margin-top: 10px;

}

.paragraph2{
    width: 300px; 
    height: 250px;
    float: left;
    margin-left: 10px;
}

.text2{
    float:left;
    width:290px;
}

.photo2{
    float: left; 
}

.paragraph3{
    width: 300px; 
    height: 250px;
    float: left;
    padding: 10px;
}
img {
    width: 100%;
    height: auto;
}

.text3{
    float:left;
}

.photo3{
    float: left;
}

.Mylatestwork{
    float: inherit;
    margin-left: 364px;
    margin-right: 236px;
    font-size: 1.4rem;
    color: #2B7A78;
    margin-top: 10px;
    width: 950px;
    height: 350px;
}

.Aboutme{
    width: 400px; 
    height: 250px;
    float: left;
    padding: 10px;
    text-align: left;
    margin-left: 80px;
    margin-top: 30px;
}

.endbanner{
    margin-top: 20px;
    margin-left: 440px;
    margin-right: 160px;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    float:left;
}

.endbanner a:hover{
    color: #BAB2B5;
}

.endbanner a{
    color: #3AAFA9;
    text-decoration: none;
}

.skatephoto{
    float: right;
    margin-right: 100px;
    margin-top: 60px;

}